/* @font-face {
    font-family: 'herculanum';
    src: url('https://github.com/PedroPaivaDev/Avatar-Arena/blob/main/webfontkit-20220924-113034/herculanum-lt-std-roman-webfont.eot?raw=true');
    src: url('https://github.com/PedroPaivaDev/Avatar-Arena/blob/main/webfontkit-20220924-113034/herculanum-lt-std-roman-webfont.eot?raw=true') format('embedded-opentype'),
         url('https://github.com/PedroPaivaDev/Avatar-Arena/blob/main/webfontkit-20220924-113034/herculanum-lt-std-roman-webfont.woff2?raw=true') format('woff2'),
         url('https://github.com/PedroPaivaDev/Avatar-Arena/blob/main/webfontkit-20220924-113034/herculanum-lt-std-roman-webfont.woff?raw=true') format('woff'),
         url('https://github.com/PedroPaivaDev/Avatar-Arena/blob/main/webfontkit-20220924-113034/herculanum-lt-std-roman-webfont.ttf?raw=true') format('truetype'),
         url('https://raw.githubusercontent.com/PedroPaivaDev/Avatar-Arena/2dce56b0d3c6f06674c3e87114c5ec22a6c74785/webfontkit-20220924-113034/herculanum-lt-std-roman-webfont.svg') format('svg');
    font-weight: normal;
    font-style: normal;
} */

@import url('https://fonts.googleapis.com/css2?family=Aref+Ruqaa+Ink:wght@400;700&display=swap');

/* html {
  background-image: url("https://64.media.tumblr.com/83b434c237a781b667d07868a9691716/14eb10f1f44fffe6-1d/s1280x1920/67299f8465a48b95cdfa5f52f40604c6d0ee569b.png");
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
} */

/*   GRID ÁREA
    grid-row-start
    grid-column-start
    grid-row-end
    grid-column-end */

div {
/*   border: 2px solid black; */
}

/*Para celulares em modo retrato*/
@media (max-width: 450px) {
  body {
    background-image: url("https://github.com/PedroPaivaDev/Avatar-Arena/blob/Versão-3/d5cmhl6-c70806f3-7cc9-4ee0-9c65-ecffc64087d9.jpg?raw=true");
    background-repeat: repeat;
    background-position: center top;
  }
  
  .container {
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(3, auto);
    text-align: center;
    justify-content: center;
    align-items: center;
  }
  
  #page-title {
    grid-area: 1/1/2/3;
  }
  
  #carta-jogador {
    grid-area: 2/1/3/2;
    margin-top: 10px;
  }

  #carta-maquina {
    grid-area: 2/2/3/3;
    margin-top: 10px;
  }
  
  #msgAndButtons {
    grid-area: 3/1/4/3;
  }
}

/*Para celulares em modo paisagem 768px*/
@media (min-width: 450px) {
  body {
    background-image: url("https://raw.githubusercontent.com/PedroPaivaDev/Avatar-Arena/Versão-3/tumblr_ljgbphSDv01qewk6no1_500.gif");
    background-color: black;
    background-position: center left;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .container {
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(2, auto);
    text-align: center;
    justify-content: center;
    align-items: center;
  }
  
  #page-title {
    grid-area: 1/1/2/4;
  }
  
  #carta-jogador {
    grid-area: 2/1/3/2;
    margin: 10px;
    margin-bottom: 10px;
    margin-left: 20px;
  }

  #carta-maquina {
    grid-area: 2/2/3/3;
    margin: 10px;
    margin-bottom: 10px;
  }
  
  #msgAndButtons {
    grid-area: 2/3/4/3;
  }
}

body {
  display: flex;
  justify-content: center;
/*   font-family: "herculanum"; */
  font-family: 'Aref Ruqaa Ink', serif;
  align-items: center;
}

.container {
  min-width: 400px;
  max-width: 900px;
  min-height: 320px;
  max-height: 880px;
}

.page-title {
  align-self: flex-center;
  color: #424242;
  font-size: 20px;
  text-align: center;
  padding: 0px;
  margin: 0px;
  margin-top: -10px;
  text-shadow: 4px 4px 7px white;
}

.mensagens {
  display: flex;
  flex-direction: column;
  justify-content: center;
  
/*   /\ essa é a triáde para deixar elementos verticais no centro */
  
  width: 370px;
  height: 170px;
/*   flex-basis: 100%; */
/*   padding-top: 30px; */
}

.msgInicial {
  color: #424242;
  text-transform: uppercase;
  text-shadow: 2px 2px 3px white;
  font-size: 7px;
  text-align: center;
}

.comandos {
  display: flex;
  flex-direction: inline;
  justify-content: right;
  
  width: 330px;
  flex-basis: 100%;
/*   padding-right: 40px;
  margin-top: -80px;
  margin-left: 120px; */
}

.scrollReverse {
  margin-left: -30px;
  margin-top: 0px;
  position: relative;
  width: 290px;
  height: 300px;
  z-index: -1;
  animation: rotateSlide 2s;
  animation-direction: reverse;
  animation-fill-mode: forwards;
}

.scrollClosed {
  position: relative;
  z-index: -1;
  animation: rotateSlide 2.5s ease;
  animation-fill-mode: forwards;
}

#scrollClosed {
  width: 180px;
  height: 80px;
  margin-left: 100px;  
}

.waggle {
  animation: waggle 0.7s;
}

  #scrollClosed:hover {
  animation: waggle 1s;
}

@keyframes waggle {
  0% {
    transform: rotateZ(0deg)
  }
  25% {
    transform: rotateZ(-7deg)
  }
  50% {
    transform: rotateZ(0deg)
  }
  75% {
    transform: rotateZ(-7deg)
  }
  100% {
    transform: rotateZ(0deg)
  }
}

@keyframes rotateSlide {
  0% {
    transform: rotateZ(0deg);
    right: 0px;
  }
  80% {
    opacity: 1;
  }
  100% {
    transform: rotateZ(-90deg);
    right: 140px;
    opacity: 0;
  }
}

@keyframes fadeInRoll {
  0% {
    opacity: 0;
    width: 0%;
    height: 500;
  }
  100% {
    opacity: 1;
    width: 400;
    height: 500;
  }
}

.scrollOpen {
  animation: fadeInRoll 2s 0.4s ease;
  animation-fill-mode: forwards;
}

#scrollOpen {
  width: 350px;
  height: 180px;
  margin-left: -60px;
  position: absolute;
  z-index: -1;
}

#scrollResult {
  position: absolute;
  width: 250px;
  height: 170px;
  padding-left: 70px;
  padding-right: 50px;
  
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.resultado-final {
  font-weight: 400;
  font-size: 12px;
  color: #424242;
  text-transform: uppercase;
  position: static;
  
  animation: fadeInRoll 2s 3s ease;
  animation-fill-mode: forwards;
  
/*   border: 2px solid #585858; */
}

.aviso {
  font-weight: 400;
  font-size: 12px;
  color: #424242;
  text-transform: uppercase;
  position: absolute;
  padding-bottom: 130px;
  padding-left: 80px;
  text-shadow: 4px 4px 7px white;
}

.wrapButton {
  animation: slideRight 2s;
  animation-fill-mode: forwards;
}

.unrollButton {
  animation: slideRight 1s;
  animation-fill-mode: forwards;
  animation-direction: reverse;
}

@keyframes slideRight{
  0% {
    width: 210px;
    height: 40px;
    font-size: 12px;
  }
  100% {
    width: 40px;
    height: 40px;
    font-size: 0.001px;
  }
}

button {
  font-family: 'Aref Ruqaa Ink', serif;
  align-self: flex-start;
/*   font-family: "Roboto", monospace; */
  font-size: 12px;
  box-shadow: 2px 2px 4px rgba(16, 16, 16, 0.42);
  background: #dedede;
  border: 2px solid #585858;
  border-radius: 100px;
  color: #424242;
  position: absolute;
  margin-top: 10px;
  margin-right: -40px;
  padding-right: 30px;
  padding-left: 15px;
  text-align: left;
  text-transform: uppercase;
}

/* #btnSortear {
  z-index: 0;
}
#btnJogar {
  z-index: -1;
}
#btnreiniciar {
  z-index: -2;
} */

#selo {
  position: relative;
  margin-right: -55px;
  width: 80px;
  height: auto;
}

#carta-jogador,
#carta-maquina {
  width: 180px;
  height: 280px;
  font-size: 10px;
  display: grid;
  grid-template: column;
  grid-template-rows: 1px 60px 80px 40px 70px;
  text-transform: uppercase;
/*   z-index: 1; */
}

#imagemFundo {
  margin-left: -90px;
  margin-top: -10px;
  position: absolute;
  width: 180px;
  height: 290px;
  z-index: -1;
  
/*   border: 2px solid #585858; */
}

.nomeCarta {
  padding: 0px;
}

#carta-subtitle {
  font-size: 15px;
  vertical-align: middle;
  color: white;
  text-shadow: 4px 4px 8px white;
  margin: 5px;
  
/*   border: 2px solid #585858; */
}

#imagemCarta{
  width: 80px;
  height: 80px;
  object-fit: content;
  margin-top: 0px;
}

.carta-status {
  padding-top: 0px;
}

.carta-status p {
  margin: 3px;
}

#cartaStatusMaq, #cartaStatusJog {
  padding-top: -5px;
  padding-bottom: 5px;
  padding-right: 10px;
  padding-left: 10px;
}

input {
  appearance: none;

/*   border-radius: 50%;
  width: 16px;
  height: 16px;

  border: 2px solid #999;
  transition: 0.2s all linear;
  margin-right: 5px;

  position: relative;
  top: 4px; */
}

.sombreado, .hooverLabel {
  transition: all 0.5s ease-out;
  padding: 3px;
  padding-top: -10px;
  border-radius: 10px;
}

.hooverLabel:hover,
input:checked + .sombreado {
  box-shadow: inset 0 0 5px black, inset 0 0 5px black, inset 0 0 5px black, inset 0 0 5px black;
  border-radius: 10px;
}

input:checked + .hooverLabel {
  box-shadow: inset 0 0 5px black, inset 0 0 5px black, inset 0 0 5px black, inset 0 0 5px black;
  border-radius: 10px;
}

.habilidade {
  text-align: justify;
  font-size: 9px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 15px;
  
/*   border: 2px solid #585858; */
}

#carta-efeito {
  margin-top: -17px;
  padding-right: 10px;
  padding-left: 10px;
}