.result {
    --scrollOpenWidth: 260px;
    --scrollOpenHeight: 200px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: flex-start;
    width: var(--scrollOpenWidth);
    height: var(--scrollOpenHeight);
    margin-bottom: 20px;
    animation: scale 2s;
}

@keyframes scale {
    0% {
        height: 0;
        width: 0;
    }
    100% {
        width: var(--scrollOpenWidth);
        height: var(--scrollOpenHeight);
    }
}

.result p {
    width: calc(var(--scrollOpenWidth)*0.75);
    text-align: justify;
    font-size: 0.8rem;
    position: absolute;
    padding-left: 20px;
    align-self: center;
    animation: fadeIn 2s;
}

@keyframes fadeIn {
    0% {opacity: 0;}
    95% {opacity: 0;}
    100% {opacity: 1;}
}

.result img {
    width: var(--scrollOpenWidth);
    height: var(--scrollOpenHeight);
    align-self: flex-start;
    z-index: -100;
    position: relative;
    left: 0px;
    animation: openScroll 2s forwards;
}

@keyframes openScroll {
    0% {width: 0;}
    90% {width: 0; height: 190px;}
    100% {width: var(--scrollOpenWidth); height: var(--scrollOpenHeight);}
  }