*, *:after, *:before {
	margin: 0;
  padding: 0;
  border: none;
  outline: none;
  font-weight: 300;
  box-sizing: border-box;
  font-family: monospace;
	font-size: 100%;
}

body {
  height: 100vh;
  background: url('/src/assets/backWeb.gif') no-repeat;
  background-position: bottom left;
  background-size: cover;
}

@media (max-width: 40rem) {
  body {
    background-position: bottom left -280px;
  }
}

a {
	text-decoration: none;
	color: black;
}

ul {
	list-style:none;
}

img {
	max-width: 100%;
}