.cardFace {
    --faceWidth: 100px;
    --faceHeight: 20px;
    display: flex;
    justify-content: center;
    min-width: var(--faceWidth);
    min-height: var(--faceHeight);
}

.cardFace input:checked + label {
    opacity: 1;
}

.cardFace:hover label{
    opacity: 1;
    z-index: 20;
}

.cardFace:hover .cardFrame{
    margin-top: -20px;
    animation: showCard 0.3s forwards;
}

@keyframes showCard {
    0% {width: 100px; height: 20px;}
    to {width: 170px; height: 310px;}
}

.cardFace:hover .cardGif{
    display: block;
    animation: opacity 0.4s forwards;
}

@keyframes opacity {
    0% {opacity: 0;}
    80% {opacity: 0;}
    100% {opacity: 1;}
}

.label {
    position: absolute;
    opacity: 0.5;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: 0.3s;
    cursor: pointer;
}

.cardFrame {
    width: var(--faceWidth);
    height: var(--faceHeight);
    position: absolute;
}

.name {
    text-align: center;
    font-family: 'herculanum';
    font-size: 17px;
    color: #dedede;
    text-shadow: 2px 2px 3px black;

    position: relative;
    top: 19px;
}

.label > div {
    display: none;
    position: absolute;
}